/* Generic Styling */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    padding: 24px;
}

div {
    display: flex;
    flex-direction: column;
}

h2 {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    margin: 4px 0 4px 0;
    white-space: pre-line;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

/* Specific Styling */
.top-nav {
    overflow: hidden;
    background-color: #333;
    flex-direction: row;
}

.top-nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.top-nav a:hover {
    background-color: #ddd;
    color: black;
}

.top-nav a.active {
    background-color: #04AA6D;
    color: white;
}

.database-info-container {
    border-style: solid;
    border-color: gray;
    padding: 16px;
}

.database-info {
    font-family: monospace;
}

.books-app-title {
    font-family: 'Quintessential', cursive;
}

.no-margin-top {
    margin-top: 0;
}

.books-app-sub-title {
    font-family: 'Gideon Roman', cursive;
}

.books-app-back-link {
    color: dimgrey;
    font-family: 'Noto Serif', serif;
    font-size: 14px;
    margin: 24px 0 4px 0;
}

.books-app-back-link a {
    text-decoration: none;
    color: darkslategrey;
}

.books-app-back-link a:hover {
    color: blue;
    cursor: pointer;
}

.books-app-text {
    font-family: 'Noto Serif', serif;
    font-size: 16px;
}

.books-app-menu {
    font-weight: bold;
    font-size: 18px;
    margin: 8px 0 8px 0;
}

.books-app-menu a {
    text-decoration: none;
    color: darkslategrey;
}

.books-app-menu a:hover {
    color: blue;
    cursor: pointer;
}

.books-app-menu-container {
    padding: 8px;
}

.blue-text {
    color: blue;
}

.dark-blue-text {
    color: darkblue;
}

.green-text {
    color: darkgreen;
}

.gray-text {
    color: grey;
}

.purple-text {
    color: purple;
}

.black-text {
    color: black;
}

.short-divider {
    width: 100%;
    margin-left: 0;
    margin-top: 16px;
}

.separate-link {
    margin-top: 24px;
}

.question-content {
    margin-top: 8px;
    font-size: 15px;
    color: black;
}

.code-text {
    font-size: 16px;
    font-family: monospace;
    margin-bottom: 16px;
}

.bold-text {
    font-weight: bold;
}

.main-container {
    padding: 0;
    margin: 16px 0 0 0;
}

.question-container {
    border-style: dashed;
    border-width: 1px;
    border-color: gray;
    padding: 16px;
    margin-top: 24px;
}

.screenshot-image {
    width: 300px;
    object-fit: contain;
}

.footer-text {
    font-family: monospace;
    margin-top: 48px;
    text-align: center;
    line-height: 20px;
}

.error-view {
    margin-top: 16px;
    padding: 16px;
    background-color: red;
}

.success-background {
    background-color: green;
}

.bold-text {
    font-weight: bold;
    margin-bottom: 6px;
}

.error-message {
    color: white;
}

.horizontal-container {
    flex-direction: row;
    margin: 16px 0 16px 0;
}

.small-space {
    margin-left: 16px;
}

.big-form-container {
    max-width: 450px;
}

.small-form-container {
    flex: 1;
    width: 100%;
}

.vertical-form {
    margin-top: 16px;
    width: 100%;
}

.small-form-container label {
    color: darkgreen;
    font-weight: bold;
}

.small-form-container small {
    color: dimgray;
}

.small-form-container input {
    height: 24px;
    margin: 6px 0 6px 0;
}


.space-right {
    margin-right: 8px;
}

.space-left {
    margin-left: 8px;
}

.button-container {
    margin-top: 16px;
    widht: 100%;
    height: 32px;
}

.button-container-double {
    height: 72px;
}

button {
    height: 32px;
}

.centered-items {
    align-items: center;
    justify-content: center;
}

.back-link {
    margin-top: 32px;
}

.money-result-box {
    margin-top: 8px;
    padding: 12px;
    border-radius: 6px;
    background-color: goldenrod;
    align-self: flex-start;
    min-width: 50px;
}

.money-result-box h1 {
    margin: 0;
    font-family: monospace, sans-serif;
    color: white;
    font-weight: bold;
}

.drop-down-list {
    margin-top: 16px;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid lightgray;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: whitesmoke;
}

.long-text-input {
    margin: 8px 0 8px 0;
}

.delete-button {
    background-color: red;
    color: white;
    margin-top: 8px;
    border-color: red;
}

.add-button {
    display: flex;
    flex-direction: row;
    align-self: flex-start;
    align-items: center;
    padding: 4px 12px 4px 12px;
    margin-top: 8px;
    margin-bottom: 8px;
    border: 1px solid #2d94f0;
    border-radius: 8px;
}

.add-text a {
    color: #2d94f0
}